body {
    background-color: #5F7497;
    background-image: url('../img/bakgrund.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.p1 {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .p2{
    font-family: 'Times New Roman', Times, serif;

  }